<template name="Header">
  <img style="max-height: 200px;" class="ui fluid image" src="/images/study-buddy-header.jpeg"/>
  <div style="margin-top: 0px; border-radius: 0px;" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Public_Landing_Page'}}"><h1>Study Buddy</h1></a>
      <a class="item" href="{{pathFor 'Login_Page'}}">Login</a>
      <a class="item" href="{{pathFor 'Calendar_Page'}}">Create a Session</a>
      <a class="item" href="{{pathFor 'Sessions_Page'}}">Sessions</a>
      <a class="item" href="{{pathFor 'Leaderboard_Page'}}">Leaderboard</a>
      <a class="item" href="{{pathFor 'User_Home_Page'}}">User Home</a>
      <a class="item" href="{{pathFor 'Admin_Home_Page'}}">Admin Home</a>
      <a class="item" href="{{pathFor 'User_Page'}}">User Profile</a>
      <a href="#" class="item">{{> loginButtons }} </a>
    </div>
  </div>
</template>